@import url("../node_modules/@fortawesome/fontawesome-free/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&family=EB+Garamond&family=Kaushan+Script&display=swap");
/* SCSS RESET
==================================================================================================== 
====================================================================================================
*/
html,
body,
div,
main,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
button,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
textarea,
select,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 - Older browser support
====================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

/* BASE 10
====================================================================== */
html {
  font-size: 62.5%; }

/* BODY
====================================================================== */
body {
  line-height: 1; }

/* LISTS - Clear bullets
====================================================================== */
ol,
ul,
li {
  list-style: none; }

/* QUOTES
====================================================================== */
blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

/* TABLES
====================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* IMAGES
====================================================================== */
/* img {
	display: block;
	width: 100%;
} */
nav[aria-label="pagination"] {
  text-align: center;
  clear: left; }

html {
  font-size: 62.5%; }

h1 {
  font-size: 4.5rem;
  font-family: "Kaushan Script", cursive;
  color: black; }

section article:nth-of-type(1) {
  text-align: center; }

footer,
article:nth-of-type(1) {
  text-align: center; }
  footer h2,
  article:nth-of-type(1) h2 {
    font-family: "EB Garamond", serif;
    width: 100%;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 2rem;
    color: black; }
  footer p:nth-of-type(1),
  article:nth-of-type(1) p:nth-of-type(1) {
    color: #282828;
    text-align: center; }
  footer p:nth-of-type(2),
  article:nth-of-type(1) p:nth-of-type(2) {
    display: flex;
    justify-content: flex-end;
    font-size: smaller; }

article,
p,
a {
  font-size: 2rem;
  font-family: "Darker Grotesque", sans-serif; }

strong {
  font-size: 1.5rem;
  font-family: "Darker Grotesque", sans-serif; }

strong {
  font-size: 1.5rem;
  font-family: "Darker Grotesque", sans-serif; }

p {
  padding: 1rem; }

article > h3 {
  font-size: 3rem;
  font-weight: 800;
  font-family: "Darker Grotesque", sans-serif; }

nav > ul > li a {
  color: white;
  font-size: 3.5rem;
  display: none; }

nav > ul > li a:first-line {
  display: none; }

h3::first-letter {
  font-size: 4rem; }

i.fa-calendar {
  color: #939597;
  font-size: 2rem; }
  i.fa-calendar:before {
    padding-right: 0.2rem;
    margin-bottom: -1rem; }
  i.fa-calendar:hover {
    color: #4caf50; }

.btn {
  transition-duration: 0.4s;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
  padding: 0.9rem;
  background-color: #939597;
  border: none; }
  .btn:hover {
    background-color: #4caf50;
    color: white; }
  .btn:hover:before {
    color: white; }

#backlog-button,
#implementation-button,
#complete-button {
  transition-duration: 0.4s;
  border-radius: 0.5rem;
  font-size: 2rem;
  padding: 0.9rem; }
  #backlog-button:hover,
  #implementation-button:hover,
  #complete-button:hover {
    background-color: #4caf50;
    color: white; }
  #backlog-button:before,
  #implementation-button:before,
  #complete-button:before {
    font-family: "Font Awesome 5 Free";
    content: "\f067";
    font-weight: 900;
    font-size: 2.5rem;
    color: #939597; }
  #backlog-button:hover:before,
  #implementation-button:hover:before,
  #complete-button:hover:before {
    color: white; }
  #backlog-button strong,
  #implementation-button strong,
  #complete-button strong {
    display: none; }

#deleteTask {
  transition-duration: 0.4s;
  border-radius: 0.5rem;
  font-size: 2rem;
  padding: 0.9rem; }
  #deleteTask:hover {
    background-color: #4caf50;
    color: white; }
  #deleteTask:before {
    font-family: "Font Awesome 5 Free";
    content: "\f2ed";
    font-weight: 900;
    font-size: 2.5rem;
    color: #939597; }
  #deleteTask:hover:before {
    color: white; }

#taskSent {
  transition-duration: 0.4s;
  border-radius: 0.5rem;
  font-size: 2rem;
  padding: 0.9rem; }
  #taskSent:hover {
    background-color: #4caf50;
    color: white; }
  #taskSent:before {
    font-family: "Font Awesome 5 Free";
    content: "\f1d8";
    font-weight: 900;
    font-size: 2.5rem;
    color: #939597; }
  #taskSent:hover:before {
    color: white; }

#unsure {
  transition-duration: 0.4s;
  border-radius: 0.5rem;
  font-size: 2rem;
  padding: 0.9rem; }
  #unsure:hover {
    background-color: red;
    color: white; }
  #unsure:before {
    font-family: "Font Awesome 5 Free";
    content: "\f071";
    font-weight: 900;
    font-size: 2.5rem;
    color: #939597; }
  #unsure:hover:before {
    color: white; }

#absolutely {
  transition-duration: 0.4s;
  border-radius: 0.5rem;
  font-size: 2rem;
  padding: 0.9rem; }
  #absolutely:hover {
    background-color: green;
    color: white; }
  #absolutely:before {
    font-family: "Font Awesome 5 Free";
    content: "\f164";
    font-weight: 900;
    font-size: 2.5rem;
    color: #939597; }
  #absolutely:hover:before {
    color: white; }

header ul > li strong {
  display: none; }

header ul > li:hover strong {
  display: block;
  text-transform: capitalize; }

header ul:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0c9";
  font-weight: 900;
  font-size: 2.5rem;
  color: white; }

header ul:hover:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00d";
  font-weight: 900;
  font-size: 2.5rem;
  color: gainsboro;
  margin: 1rem; }

header ul:hover > li:nth-of-type(1):before {
  font-family: "Font Awesome 5 Free";
  content: "\f015";
  font-weight: 900;
  font-size: 2.5rem;
  color: white;
  margin: 1rem; }

header ul li > button#mode {
  background-color: transparent; }

header ul:hover > li > button:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0eb";
  font-weight: 900;
  font-size: 2.5rem;
  color: white;
  margin: 1rem; }

header ul > li:nth-of-type(1):hover:before {
  color: #fd8b9e; }

header ul > li > button:hover:before {
  color: #f5df4d; }

main {
  margin: 0rem 1rem 0rem 1rem;
  justify-content: center; }

main {
  display: flex; }
  @media (min-width: 0px) and (max-width: 299px) {
    main {
      font-size: 0.3rem;
      flex-direction: column; } }
  @media (min-width: 300px) and (max-width: 599px) {
    main {
      font-size: 0.3rem;
      flex-direction: column; }
      main h2 {
        font-family: "EB Garamond", serif;
        font-size: 2rem; }
      main h3 {
        font-size: 1.5rem; } }
  @media (min-width: 600px) and (max-width: 799px) {
    main {
      flex-direction: row; }
      main h2 {
        font-family: "EB Garamond", serif;
        font-size: 2.5rem; }
      main h3 {
        font-size: 2rem; } }
  @media (min-width: 800px) {
    main {
      flex-direction: row; } }

section h2 {
  display: flex;
  justify-content: center; }

section article {
  list-style: none; }

section#backlog {
  display: flex;
  flex-direction: column; }

header {
  width: 100%;
  background: #26a8f9;
  box-shadow: 0 8px 6px -6px black;
  padding: 1rem; }
  header nav {
    display: flex;
    flex-direction: row;
    padding: 1rem; }
    header nav h1 {
      width: calc(70% - 1em); }
    header nav ul {
      padding: 0rem;
      width: calc(30%);
      text-align: right;
      list-style: none; }

nav.article-menu {
  display: flex;
  justify-content: flex-end; }
  nav.article-menu ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: flex-end; }
    nav.article-menu ul li {
      margin: 0 auto;
      margin-right: 0.4rem;
      border-radius: 1rem 1rem 0rem 0rem;
      background-color: white;
      max-width: 40rem;
      border-top: 1px solid #c1c1c1; }
      nav.article-menu ul li:hover strong {
        cursor: pointer;
        color: black;
        font-size: 1rem;
        text-transform: capitalize; }
    nav.article-menu ul li a {
      display: none; }
    nav.article-menu ul li strong {
      display: none; }
    nav.article-menu ul i {
      color: #868686;
      font-size: 1.2rem; }
      nav.article-menu ul i:hover {
        color: #fd8b9e;
        transition-duration: 0.4s; }

section {
  background-color: gainsboro;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem; }
  section article:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 3rem; }
  section article:not(:nth-of-type(1)) {
    list-style: none;
    padding: 1rem;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 1rem;
    max-width: 40rem;
    box-shadow: 0 8px 6px -6px black;
    background-color: white; }
    section article:not(:nth-of-type(1)) h3 {
      padding: 1rem; }
    section article:not(:nth-of-type(1)) p {
      border-bottom: 1px solid #c1c1c1; }
  section p:nth-last-of-type(1) {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0; }
    section p:nth-last-of-type(1) #newTask input[type="date"] {
      position: relative;
      padding: 10px;
      font-size: calc(3rem / 2);
      text-align: right; }
    section p:nth-last-of-type(1) #newTask input[type="date"]::-webkit-calendar-picker-indicator {
      color: transparent;
      background: none;
      z-index: 1; }
    section p:nth-last-of-type(1) #newTask input[type="date"]:after {
      font-family: "Font Awesome 5 Free";
      content: "\f073";
      font-size: 2rem;
      color: #939597;
      width: 15px;
      height: 20px;
      position: absolute;
      top: 1.1rem;
      right: 1.5rem; }
    section p:nth-last-of-type(1) input[type="date"] {
      position: relative;
      padding: 10px;
      font-size: calc(3rem / 2);
      text-align: right; }
    section p:nth-last-of-type(1) input[type="date"]::-webkit-calendar-picker-indicator {
      color: transparent;
      background: none;
      z-index: 1; }
    section p:nth-last-of-type(1) input[type="date"]:after {
      font-family: "Font Awesome 5 Free";
      content: "\f073";
      font-size: 2rem;
      color: #939597;
      width: 15px;
      height: 20px;
      position: absolute;
      top: 1.1rem;
      right: 1.5rem; }
  section label {
    color: transparent; }

footer {
  margin-top: 1rem;
  box-shadow: 0px -8px 6px -8px black;
  background-color: gainsboro; }

main {
  z-index: 0; }

#message {
  background-color: pink;
  z-index: 1;
  position: absolute;
  max-width: 30rem; }
  #message form {
    max-width: 50%; }
  #message input[type="date"] {
    max-width: 100%;
    font-size: 1.5rem; }
