@function makelongshadow($color) {
  $val: 0;
  @if ($color != null) {
    $val: $shadow-cards;
  }
  @return $val;
}
@function makeborder($color) {
  $val: 0;
  @if ($color != null) {
    $val: $grey-cards;
  }
  @return $val;
}
//list on articles
section {
  h2 {
    display: flex;
    font-size: 3rem;
    // text-align: center;
    justify-content: center;
    padding: 1rem;
    // align-items: flex-end;
  }
  ul {
    // outline: 1px solid #75c183;
    list-style: none;
    li {
      padding: 1rem;
      article {
        box-shadow: makelongshadow(black);
        p {
          border-bottom: 1px solid makeborder(grey-cards);
        }
      }
    }
    //get the date to the right
    p:nth-last-of-type(1) {
      display: flex;
      justify-content: flex-end;
    }
  }
}
