footer {
  background-image: url("../../images/studying-table-with-books-different-folders_113065-168.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  height: 80rem;
  width: 100%;
}
